# Ignore processed dataset files
data/processed_dataset.csv
data/processed_dataset_cache.pkl

# Ignore virtual environment directory
.venv/
music/.venv
music/dataset

# Ignore Python cache files
music/__pycache__
__pycache__/

# Ignore other common files
*.pyc
*.pyo
*.pyd
*.swp
*.swo
.DS_Store
